.top{
    position: relative;
    top: 20%;
        width: 60%;
        border: 5px solid #FFFF00;
        left: 20%;
        height: 202px;
        padding: 10px;
        background-color: gray;
        
}
.div-1{
    position: relative;
    border: dashed red 5px;
    background-color: yellow;
    width:280px;
    height: 150px;
    top: 10px;
    left: 10px;
}
.div-2{
    position: relative;
   border-left: green solid 5px;
   border-right: 5px solid yellow;
   border-top: dotted 5px red;
    background-color: yellow;
    width:280px;
    height: 150px;
    bottom: 70%;
    left: 35%;
    border-bottom: dashed blue 8px;
}
.div-3{
    position: relative;
    width:150px;
    height: 150px;
    top: -300px;
    left:75%;
   background:conic-gradient(red 0deg 90deg, green 90deg 180deg, yellow 180deg 270deg, blue 270deg 360deg)

}

.div-4{
    position: relative;
    top: 100px;
    background-color: beige;
    width:800px;
    height: 500px;
    left: 300px;
}
.div-5{
    position: relative;
    border: solid red 5px;
    width:500px;
    height: 150px;
   top: 30%;
   left: 10%;
}
.div-6{
    position: relative;
    border: solid red 5px;
    width:100px;
    height: 10px;
   top: -5%;
   left: 50%;
}
.size {position: relative;
    border: 1px solid #ddd;
    border-radius: 4px;
   
    width: 150px;
    top: 100%;
   left: 10%;
  }
  .div-7{
    position: relative;
    border: solid red 5px;
    width:500px;
    height: 150px;
   top: 5%;
   left: 10%;
}   
.div-13{
    width: 800px;
    height: 200px;
    position: relative;
    border: solid 5px red;
}
.item{
    width: 200px;height: 150px;
    background-color: yellow;
    position: absolute;
  border: red 5px dotted;
 top: 20px;
 left: 5px;
}
.item-2{
    width: 185px;height: 150px;
    background-color: yellow;
    position: absolute;
  border-top:  red 5px dashed;
  border-bottom: 5px blue dashed;
  border-left: solid green 5px;

 top: 20px;
 right: 300px;
}
.a{
background-color: gray;
width:100px;
height: 30px;
position: absolute;
}
.d1{
    width: 500px;
    height: 300px;
   position: relative;
    border:  black solid 5px;
    top: 150px;
    left: 500px;
    background-color:azure;

}
.d4{
    border: solid 1px black;
    background-color: rgb(45, 136, 136);
    height: 300px;
    width:  100px;
    position: absolute;
}
.tr, td, th{
    border: solid 3px black;
    width: 100px;
    height: 100px;
    position: relative;
}
.dia{
    background-color: gray;
    border: solid 2px gray;
    position: relative;
    width: 800px;
    height: 100px;
}
.dian{
    border: solid 2px black;
    position: relative;
    width: 800px;
    height: 50px;   
}
.diana{
    background-color: gray;
    border: solid 2px gray;
    position: relative;
    width: 650px;
    height: 540px;
    bottom: 600px;
    left: 120px;
}
.we{
    position: absolute;
   top: 100px;
   left: 130px;
}
